* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adsbygoogle[data-ad-status="unfilled"] {
  display: none !important;
}
