.title-center {
  text-align: center;
}

.title-right {
  text-align: left;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-left {
  text-align: left;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #6772e5;
  font-weight: bold;
  word-wrap: break-word;
}

.main-title {
  color: #111;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 0px;
  line-height: 42px;
}

.descriptionTitle {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #444;
  font-weight: normal;
  font-style: italic;
  word-wrap: break-word;
}

.span-center {
  width: 1px;
  background: #000;
  text-align: center;
  opacity: 0.3;
  width: 1px;
  height: 20px;
  display: block;
  margin: 15px auto;
}
