@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

.swiper-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  touch-action: pan-y;
  /* margin-bottom: 100px; */
}

.swiper-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-out;
}

.swiper-list.is-swiping {
  transition: none;
}

.swiper-indicator {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.swiper-indicator-item {
  width: 8px;
  height: 8px;
  margin-right: 7%;
  margin-top: 20px;
  border-radius: 50%;
  background-color: #cccccc;
  cursor: pointer;
}

.swiper-indicator-item.active {
  background-color: #6772e5;
}

.features {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #6772e5;
  font-weight: bold;
  word-wrap: break-word;
}

.title-right {
  text-align: left;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-left {
  text-align: left;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  color: #111;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 0px;
  line-height: 42px;
}

.descriptionTitle {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #444;
  font-weight: normal;
  font-style: italic;
  word-wrap: break-word;
}

.slider-center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-right {
  display: flex;
}

.slider-left {
  display: flex;
  flex-direction: row-reverse;
}

.text-div-center {
  background-color: #6772e5;
  width: 230px;
  position: absolute;
  left: 100px;
  top: 175px;
  transition: 0.3s;
  transition-delay: 100ms;
}

.text-div-right {
  background-color: #6772e5;
  width: 230px;
  position: absolute;
  top: 40px;
  right: -50px;
  transition: 0.3s;
  transition-delay: 100ms;
}

.text-div-left {
  background-color: #6772e5;
  width: 230px;
  position: absolute;
  left: -50px;
  top: 50px;
  transition: 0.3s;
  transition-delay: 100ms;
}

.text-box {
  color: white;
  text-align: left;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  margin: 0;
  opacity: 0;
  transition: 1s;
  padding: 35px 25px;
}

.text-box-animate {
  transition-delay: 600ms;
  opacity: 1;
}

.sliderFont {
  font-family: Poppins, serif;
  margin-bottom: 100px;
  position: relative;
}

.counter-center {
  position: relative;
  bottom: 280px;
  right: 400px;
  transform: rotate(-90deg);
  font-size: 20px;
  font-style: italic;
}

.counter-right {
  position: relative;
  left: 180px;
  top: 15px;
  transform: rotate(-90deg);
  font-size: 20px;
  font-style: italic;
}

.counter-left {
  position: relative;
  left: 210px;
  top: 80px;
  transform: rotate(-90deg);
  font-size: 20px;
  font-style: italic;
}

.single-container {
  position: relative;
}
