@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

.swiper-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  touch-action: pan-y;
  margin-bottom: 100px;
}

.swiper-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease-out;
}

.swiper-list.is-swiping {
  transition: none;
}

.swiper-indicator {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.swiper-indicator-item {
  width: 8px;
  height: 8px;
  margin-right: 7%;
  margin-top: 20px;
  border-radius: 50%;
  background-color: #cccccc;
  cursor: pointer;
}

.swiper-indicator-item.active {
  background-color: #6772e5;
}

.features {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #6772e5;
  font-weight: bold;
  word-wrap: break-word;
}

.mainTitle {
  color: #111;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 0px;
}

.descriptionTitle {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 0px;
  color: #444;
  font-weight: normal;
  font-style: italic;
  word-wrap: break-word;
}

.sliderCenter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box {
  color: white;
  padding: 35px 25px;
  background-color: #6772e5;
  position: absolute;
  left: 100px;
  top: 120px;
  width: 230px;
}

.sliderFont {
  font-family: Poppins, serif;
}

.counter {
  position: relative;
  bottom: 400px;
  right: 400px;
  transform: rotate(-90deg);
  font-size: 20px;
  font-style: italic;
}
